doctype
html.no-js
  head
    //- 
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- 
    title Isaac Gregson | Agrarian
    //- 
    link(rel="stylesheet" href="//brick.a.ssl.fastly.net/Titillium:200,300,400,600")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    link(rel='stylesheet', href='/assets/main.css')
    //- include _partial--favicons

  body

    block mainPageContent