doctype
html.no-js
  head
  //- 
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //- 
  title Isaac Gregson | Agrarian
  //- 
  link(rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto+Condensed:300,400,700,300i,400i,700i")
  link(rel='stylesheet', href='assets/main.css')


  body

    .contain.mt3
      block mainPageContent