extends ./_layoutMain

block mainPageContent

  mixin entry(name, date, title, blurb)
    h5.mb05 #{name}
      span.t-300.t-xsmall(style="margin: 0 .5rem;") &ndash; 
      span.t-300.t-xsmall (#{date})
    .t-300.t-xsmall #{title}
    //- BLURB VIA BLOCK
    p.mb05
      #{blurb}
    p.mb05
      block
    .hr--light.mt2.mb3

  .section
    .h2 Experience
  
    +entry(
      "Natural Farm of Edessa", 
      "Edessa, Greece (<a href='http://www.natural-farming.eu/en/edessa/natural-farm'>website</a>)",
      "Natural Farming Conference/Workshop",
      "2012",
      "Participated in a natural farming conference and workshop lead by Panagiotis Manikis, who lived and learned from Masanobu Fukuoka."
    )

    +entry(
      "Cloudview EcoFarms",
      "Columbia Basin, WA (<a href='http://www.cloudviewecofarms.org/'>website</a>)",
      "Volunteer",
      "2011",
      "Volunteered in all aspects of vegetable growing and assisted in selling at weekly markets."
    )
    +entry(
      "Pacific Crest Farm",
      "Vashon Island, WA (<a href='http://www.pacificcrest.org/the-farm/'>website</a>)",
      "Assistant Farm Manager",
      "June 2010 - November 2010",
      "An incredibly memorable and valuable season of hard yet rewarding work that yielded valuable knowledge on the ins and outs of running a successful organic-vegetable farm. The farm is on 18 acres and consists or orchards, berries patches, and around 2 acres in vegetable cultivation."
      ul Highlights:
        li Working and co-managing in all aspects of small-scale cultivation.
        li Organizing and selling at weekly markets.
        li Establishing new farm/business sales relationships.
        li Coordinating, training, and supervising volunteers.
        li Planning and implementing new farm processes and design elements
    )



    .entry
      MESD Outdoor School
      .italic Portland, OR
      Field Program Instructor
      Spring 2010

      Highlights
        - Mentored and guided high schoolers in their work with 6th-grade campers.
        - Taught soil science classes
        - Lead educational activities
        - Lead nature excursions

    .entry
      Kodiak Alaska Community Volunteer

      Volunteer-based living experience with an Orthodox Christian school and monastery.

      Highlights
        - Taught several environmental education classes to students
        - Oversaw and implemented a root-cellar design and construction
        - Created an educational portfolio of the root-cellar creation process

    .entry
      Warren Wilson College Garden Crew Member
      2008 - 2009

      Worked in all aspects of small-scale vegetable growing and selling. 

      Highlights
        - Learning and often implementing the bio-intensive bed-preparation method "double digging."
        - Managing a section of vegetable beds

  .section
    .h2 Education

    .entry
      Warren Wilson College
      Swannanoa/Asheville, NC
      2005 - 2009
      Bachelor of Arts in Environmental Education
      .italic Focused on Sustainable Agriculture & Environmental Education